# No need for DATABASE_URL to be set if developing from within a devcontainer

SECRET_KEY=lkasjdf09ajsdkfljalsiorj12n3490re9485309irefvn,u90818734902139489230
DATABASE_URL=sqlite:///dev.db
SCHEMA=flask_schema
S3_BUCKET=mango-music
S3_KEY=AKIA5GLLZY5W6BWEQYFV
S3_SECRET=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