body{
    background-color: rgba(22, 22, 23, 1);
    color:#fff;
    
}
button{
    cursor: pointer;
}

.site-wrapper{
    display: flex;
    justify-content: space-between;
    height: fit-content;
}

.nav-list-wrapper{
    width:25%;
    background-color: rgba(37, 37, 38, 1);
    margin-top: -10px;
    margin-left: -10px;
    /* border: green solid 1px; */
}

.site-wrapper-right{
    width: 75%;
    margin-top: -10px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    justify-content: space-between;
    /* border: red solid 1px; */
}

.site-wrapper-right-top, .main-component{
    align-self: center;
    width: fit-content;
    height: fit-content;
    /* border: white solid 1px; */
}

.main-component{
    max-width: 100%;
}

.site-wrapper-right-top{
    display: flex;
    column-gap: 10px;
    width: 100%;
    background-color: rgba(44, 44, 44, 1);
    padding: 20px;
}

.audio-player-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
